// Load fonts
@font-face {
    font-family: "Geist";
    src: url("../fonts/GeistVF.ttf") format("truetype-variations"),
         url("../fonts/GeistVF.woff") format("woff-variations"),
         url("../fonts/GeistVF.woff2") format("woff2 supports variations"),
         url("../fonts/GeistVF.woff2") format("woff2-variations");
    font-weight: 400 700;
}
@font-face {
    font-family: "ALTMariaClara-Light";
    src: url("../fonts/ALTMariaClara-Light.ttf") format("truetype"),
         url("../fonts/ALTMariaClara-Light.woff") format("woff"),
         url("../fonts/ALTMariaClara-Light.woff2") format("woff2");
    font-weight: normal;
}

// Global variables
:root {

    // Font family
    --font-sans: 'Geist', sans-serif;
    --font-serif: 'ALTMariaClara-Light', serif;

    // Font size
    --font-size-sm: clamp(13.33px, 0.01vi + 13.3px, 13.5px);
    --font-size-base: clamp(16px, 0.1vi + 15.6px, 18px);
    --font-size-md: clamp(19.2px, 0.3vi + 18px, 25.2px);
    --font-size-lg: clamp(23.04px, 0.61vi + 20.59px, 35.28px);
    --font-size-xl: clamp(27.65px, 1.09vi + 23.3px, 49.39px);
    --font-size-2xl: clamp(33.18px, 1.8vi + 25.98px, 69.15px);
    --font-size-3xl: clamp(39.81px, 2.85vi + 28.41px, 96.81px);
    --font-size-4xl: clamp(47.78px, 4.39vi + 30.22px, 135.53px);

    // Colour
    --color-white: #f0edea;
    --color-green: #29382b;
    --color-green-light: #769177;
    --color-yellow: #dd8e19;
    --color-offwhite: #e0dad5;
    --color-dark: #191b19;

    // Spacing
    --gutter-x: clamp(16px, 0.4vi + 14.4px, 24px);
    --spacer-x: clamp(16px, 1.6vi + 9.6px, 48px);
    --spacer-y: clamp(16px, 0.8vi + 12.8px, 32px);
    --spacer-y-x2: calc(var(--spacer-y) * 2);
    --spacer-y-x3: calc(var(--spacer-y) * 3);
    --spacer-y-x4: calc(var(--spacer-y) * 4);
    --spacer-y-x5: calc(var(--spacer-y) * 5);
    --spacer-y-x6: calc(var(--spacer-y) * 6);
}

// Vendor styles
@import "~swiper/swiper-bundle.css";
@import "~accordion-js/dist/accordion.min.css";
@import "~@fancyapps/ui/dist/fancybox/fancybox.css";
@import '~flatpickr/dist/flatpickr';

// Custom styles
@import "globals/index";
@import "templates/index";