.btn {
    --btn-height: 2.5rem;
    --btn-color: var(--color-white);
    --btn-background: var(--color-green);

    position: relative;
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: var(--btn-height);
    padding: 0 calc(var(--btn-height) * 0.5);
    font-family: var(--font-sans);
    font-weight: 500;
    font-size: 0.7rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--btn-color);
    border: 1px solid var(--btn-background);
    border-radius: 0.25rem;
    background: var(--btn-background);
    transition: color 0.4s ease, border 0.4s ease, background-color 0.4s ease;

    &:not(.btnStatic):not(.btnBare):hover {
        color: var(--btn-background);
        border: 1px solid var(--btn-background);
        background: transparent;
    }

    &Secondary {
        --btn-color: var(--color-green);
        --btn-background: var(--color-offwhite);

        &:not(.btnStatic):not(.btnBare):hover {
            color: var(--btn-color);
            border: 1px solid var(--btn-color);
            background: transparent;
        }

        &.active,
        &.mixitup-control-active {
            border: 1px solid currentColor;
            background: transparent;
        }
    }

    &Bare {
        --btn-color: var(--color-green);
        --btn-background: transparent;
            
        &::after {
            content: '';
            position: absolute;
            left: calc(var(--btn-height) * 0.5);
            right: calc(var(--btn-height) * 0.5);
            bottom: calc((var(--btn-height) * 0.5) - 1em);
            border-bottom: 1px solid var(--btn-color);
            transform: scaleX(0);
            transform-origin: right;
            will-change: transform;
            transition: transform 0.3s ease;
        }

        &.active,
        &.mixitup-control-active {
            
            &::after {
                transform: scaleX(1);
                transform-origin: left;
                transition: transform 0.3s 0.1s ease;
            }
        }
    }

    &Stroke {
        color: var(--btn-background);
        border: 1px solid rgba(25,27,25,0.2);
        background: transparent;

        &:not(.btnStatic):not(.btnBare):hover {
            color: var(--btn-color);
            border: 1px solid var(--btn-background);
            background: var(--btn-background);
        }
    }

    &Sm {
        --btn-height: 1.75rem;
    }
}

.playBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--spacer-y) * 3);
    height: calc(var(--spacer-y) * 3);
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-green);

    svg {
        width: calc(var(--gutter-x) * 1.5);
        height: calc(var(--gutter-x) * 1.5);
    }
}

.bg-green,
.hero,
.siteHeaderInverted {

    .btn {
        --btn-color: var(--color-green);
        --btn-background: var(--color-white);

        &Stroke {
            border: 1px solid rgba(240,237,234,0.2);
            background: transparent;

            &:not(.btnStatic):not(.btnBare):hover {
                color: var(--btn-color);
                border: 1px solid var(--btn-background);
                background: var(--btn-background);
            }
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.richtext {

    + .btn,
    + .btnGroup {
        margin-top: 2.5rem;
    }
}