.btn {
    --btn-height: 2.5rem;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: var(--btn-height);
    padding: 0 calc(var(--btn-height) * 0.5);
    font-family: var(--font-sans);
    font-weight: 500;
    font-size: 0.7rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--color-white);
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background: var(--color-green);

    &Secondary {
        color: var(--color-green);
        background: var(--color-offwhite);

        &.mixitup-control-active {
            border: 1px solid currentColor;
            background: transparent;
        }
    }

    &Stroke {
        color: var(--color-green);
        border: 1px solid rgba(25,27,25,0.2);
        background: transparent;
    }

    &Sm {
        --btn-height: 1.75rem;
    }
}

.playBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--spacer-y) * 3);
    height: calc(var(--spacer-y) * 3);
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-green);

    svg {
        width: calc(var(--gutter-x) * 1.5);
        height: calc(var(--gutter-x) * 1.5);
    }
}

.bg-green {

    .btn {
        color: var(--color-green);
        background: var(--color-white);

        &Stroke {
            color: var(--color-white);
            border: 1px solid rgba(240,237,234,0.2);
            background: transparent;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.richtext {

    + .btn {
        margin-top: 2.5rem;
    }
}