:root {
    --header-height: calc((var(--spacer-y) * 1.5) + max(var(--font-size-lg), 2rem));

    @include sm-breakpoint {
        --header-height: calc((var(--spacer-y) * 1.5) + max(var(--font-size-lg), 2.5rem));
    }
}

.siteHeader {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: calc(var(--spacer-y) * 0.75) var(--spacer-x);
    box-shadow: 0px 1px 0px 0px rgba(25,27,25,0.1);

    .logo {
        display: block;
        height: var(--font-size-lg);

        svg {
            width: auto;
            height: 100%;
        }
    }

    .left,
    .right {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .right {
        justify-content: flex-end;

        .bookBtn {

            &Mobile {
                display: block;
                width: 2rem;
                height: 2rem;

                @include sm-breakpoint {
                    display: none;
                }

                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            &Desktop {
                display: none;

                @include sm-breakpoint {
                    display: inline-flex;
                }
            }
        }
    }

    &Inverted {
        color: var(--color-white);
        box-shadow: 0px 1px 0px 0px rgba(240,237,234,0.1);

        .siteMenuToggle {

            span {
                background: var(--color-white);
            }
        }
    }
}

.offsetHeader {
    padding-top: var(--header-height);
}

body {

    &.siteHeader__fixed {

        .siteHeader {
            position: fixed;
            color: var(--color-green);
            background: var(--color-white);
            box-shadow: 0px 1px 0px 0px rgba(25,27,25,0.1);
            transform: translateY(-100%);

            .siteMenuToggle {
    
                span {
                    background: var(--color-green);
                }
            }

            .btn {
                color: var(--color-green);
                border: 1px solid rgba(25,27,25,0.2);
                background: transparent;
        
                &:not(.btnStatic):not(.btnBare):hover {
                    color: var(--color-white);
                    border: 1px solid var(--color-green);
                    background: var(--color-green);
                }
            }
        }
    }

    &.siteHeader__can-animate {

        .siteHeader {
            transition: transform 0.4s cubic-bezier(0.33, 1, 0.68, 1);
        }
    }

    &.siteHeader__scroll-up {

        .siteHeader {
            transform: translateY(0);
        }
    }
}