.history {

    &Container {
        position: relative;
        margin-top: calc(var(--spacer-y-x6) - 20vh);

        @include md-breakpoint {
            margin-top: calc(var(--spacer-y-x6) - 15vh);
        }

        @include xl-breakpoint {
            margin-top: calc(var(--spacer-y-x6) - 10vh);
        }
    }

    &Sticky {
        position: sticky;
        z-index: 0;
        top: 0;
        overflow: hidden;
        height: 100vh;

        .background {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: var(--color-green);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .left,
        .right {
            position: absolute;
            top: 15%;
            display: none;
            width: 25%;
            height: 70%;

            @include md-breakpoint {
                display: flex;
            }

            @include xl-breakpoint {
                top: 10%;
                width: 30%;
                height: 80%;
            }

            .grid {
                flex-shrink: 0;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(5,1fr);
                gap: var(--spacer-x);
                width: 56vh;
                min-width: 100%;
                height: 100%;

                @include xl-breakpoint {
                    width: 64vh;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 4px;
            }
        }

        .left {
            left: 0;
            justify-content: flex-end;
            padding-right: var(--spacer-x);

            img {

                &:nth-child(1) {
                    grid-column: 1 / span 2;
                    grid-row: 1 / span 3;
                }

                &:nth-child(2) {
                    grid-column: 1 / span 1;
                    grid-row: 4 / span 2;
                }

                &:nth-child(3) {
                    grid-column: 2 / span 1;
                    grid-row: 4 / span 2;
                }
            }
        }

        .right {
            right: 0;
            padding-left: var(--spacer-x);

            img {

                &:nth-child(1) {
                    grid-column: 1 / span 1;
                    grid-row: 1 / span 2;
                }

                &:nth-child(2) {
                    grid-column: 2 / span 1;
                    grid-row: 1 / span 2;
                }

                &:nth-child(3) {
                    grid-column: 1 / span 2;
                    grid-row: 3 / span 3;
                }
            }
        }
    }

    &Content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        color: var(--color-white);
    }
}