.accommodation {

    &Card {
        position: relative;
        display: block;
        overflow: hidden;
        padding-bottom: 120%;
        border-radius: 0.25rem;

        .content,
        .image {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .content {
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding: var(--spacer-y);
            transform: translate3d(0,0,0);
        }

        .label {
            color: var(--color-green);
            background: var(--color-white);
        }

        .title {
            font-size: var(--font-size-md);
        }

        .image {
            z-index: 0;

            &::before {
                content: '';
                position: absolute;
                z-index: 1;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 50%;
                background: linear-gradient(180deg, rgba(25,27,25,0) 0%, rgba(25,27,25,0.9) 100%);
                transform: translate3d(0,0,0);
            }

            img {
                z-index: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: scale(1);
                will-change: transform;
                transition: transform 0.6s ease;
            }
        }

        &:hover {

            .image {

                img {
                    transform: scale(1.1);
                }
            }
        }
    }

    &Listings {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: var(--spacer-y-x4) var(--gutter-x);
        
        @include md-breakpoint {
            grid-template-columns: repeat(2,1fr);
        }

        &Item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--gutter-x);
            text-align: center;
            
            .image {
                position: relative;
                overflow: hidden;
                width: 100%;
                padding-bottom: 120%;
                border-radius: 0.25rem;
                background: var(--color-offwhite);

                img {
                    position: absolute;
                    z-index: 0;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transform: scale(1);
                    will-change: transform;
                    transition: transform 0.6s ease;
                }
            }

            .title {
                font-family: var(--font-serif);
                font-size: var(--font-size-xl);
                text-transform: uppercase;
                line-height: 1.1;
            }

            .tags {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 0.25rem;
            }

            > .btn {
                margin-top: calc(var(--gutter-x) * 0.5);
            }

            &:hover {
    
                .image {
    
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

.amenitiesList {
    display: flex;
    flex-direction: column;
    align-items: center;

    &Collapse {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        height: 300px;
        transition: height 0.6s ease;

        &::after {
            content: '';
            position: absolute;
            z-index: 20;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100px;
            background: linear-gradient(180deg, rgba(240,237,234,0) 0%, rgba(240,237,234,1) 100%);
            pointer-events: none;
            transition: opacity 0.6s ease;
        }
    }

    &Container {
        flex-shrink: 0;
    }

    &Item {
        display: flex;
        align-items: flex-start;
        gap: 1.25rem;
        padding: 1em 0;
        font-weight: 500;
        line-height: 1.5;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(25,27,25,0.1);
        }

        .icon {
            flex-shrink: 0;
            display: inline-flex;
            align-items: center;
            width: 1.25rem;
            height: 1.5rem;
            
            svg {
                width: 1.25rem;
                height: 1.25rem;
            }
        }
    }

    &Btn {
        padding-right: calc(var(--btn-height) * 0.4);

        svg {
            width: 1.5em;
            height: 1.5em;
            transform: translateX(0.2em) rotate(0deg);
            transition: transform 0.4s ease;
        }
    }

    &.is-open {

        .amenitiesList { 

            &Collapse {

                &::after {
                    opacity: 0;
                }
            }

            &Btn {
        
                svg {
                    width: 1.5em;
                    height: 1.5em;
                    transform: translateX(0.2em) rotate(180deg);
                }
            }
        }
    }
}

.richtext {

    + .amenitiesList {
        margin-top: var(--spacer-y-x2);
    }
}